.update-profile {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .update-profile__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
  }

  .update-profile__error {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    background: rgb(248, 215, 218);
    color: rgb(132, 32, 41);
  }

  label {
    margin: 10px;
    font-size: 18px;
    text-align: start;
  }

  .update-profile__textBox {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
  }
  .update-profile__btn {
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
  }
  .update-profile__cancel {
    background-color: #4285f4;
  }
  .update-profile div {
    margin-top: 7px;
  }